[Interface]
Address = {{ (peers | selectattr("keyid", "equalto", keyid) | map(attribute="allowed_ips"))[0]}}
DNS = 1.1.1.1 8.8.8.8

PostUp = wg set %i private-key /etc/wireguard/private.key
PostUp = ping -c1 {{ wg_server.gw_address }}
# PostUp = ip rule add table 200 from {{ wg_ext_ip }}
# PostUp = ip route add table 200 default from {{ wg_ext_gateway }}
# PreDown = ip rule del table 200 from {{ wg_ext_ip }}
# PreDown = ip route del table 200 default from {{ wg_ext_gateway }}

[Peer]
PublicKey = {{ lookup('hashi_vault', 'secret=homelab/data/services/wireguard/pubkeys:wg_server') }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wg_server.dns }}:{{ wg_server.listen_port }}
